*{
  margin: 0;padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  background-color: burlywood;

}
h1{
  text-align: center;
  margin: 1.25rem 0;
}
.container{
  margin: auto;
  width: 70%;
  background-color: lightyellow;
  padding: 50px;
  min-height: 100vh;
  border-radius: 12px;
}
input,button{
  width: 70%;
  outline: none;
  border: none;
  padding: 8px;
  border-radius: .75rem;
}
button{
  width: 20%;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all .5s;
}
button:hover{
  scale: 1.06;
  background-color: burlywood;
  color: black;
  font-weight: 700;
}
.tags{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 12px;
}
.tag{
  background-color: burlywood;
  padding: 10px;
  border-radius: 12px;
  font-style: italic;
  cursor: pointer;
  transition: all .5s;
}
.tag:hover{
  transform: translateY(-5px);
  font-weight: 600;
}